.acordeao-registro {
  margin-bottom: 8px;
}

.acordeao-registro-header {
  background-color: var(--city-lights);
  color: var(--dracula-orchid);

  padding: 8px;
  padding-left:  16px;
  padding-right: 16px;

  justify-content: space-between;
  align-items: center;
  display: flex;

  letter-spacing: .5px;
  line-height: 1.5;

  border-top-left-radius:  4px;
  border-top-right-radius: 4px;

  cursor: pointer;
}

.acordeao-registro-header strong {
  font-family: 'OswaldBold';
}

.acordeao-registro-header svg {
  margin-left: 8px;

  width:  16px;
  height: 16px;

  fill: var(--dracula-orchid);
}

.acordeao-registro-header svg.aberto {
  transform: rotate(180deg);
}

.acordeao-registro-body {
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px;

  background-color: var(--clouds);

  flex-direction: column;
  display: flex;

  padding: 32px;
}

.acordeao-registro-body > * {
  margin-top: 24px;
}

.acordeao-registro-body > :first-child { margin-top: 0; }

.acordeao-registro-body .categoria {
  justify-content: center;
  display: flex;
  
  margin-bottom: 32px;
}

.acordeao-registro-body .categoria span {
  color: var(--dracula-orchid);
  font-size: 175%;
  
  text-transform: uppercase;
  text-align: center;
}

.viatura-textual {
  color: var(--dracula-orchid);
  font-size: 90%;

  text-transform: uppercase;
  line-height: 1.5;

  flex-direction: column;
  display: flex;

  padding-bottom: 8px;
  margin-bottom: 16px;

  border-bottom: 1px solid var(--city-lights);
}

.viatura-textual .linha {
  display: flex;
}

.viatura-textual .linha > * {
  flex: 1;
}

.viatura-textual .linha-comentario {
  margin-top: 8px;
}

.viatura-textual .linha-comentario span {
  text-align: justify;
  line-height: 2;
}

.viatura-textual strong {
  font-family: 'OswaldBold';
}

.viatura-textual svg {
  width:  32px;
  height: 32px;
}

.acordeao-registro-body .botoes {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.acordeao-registro-body .botoes > * {
  display: flex;
  flex: 1;

  margin-right: 16px;
}

.acordeao-registro-body .botoes > *:last-child { margin-right: 0; }

@media only screen and (max-width: 500px) {
  .acordeao-registro-body .botoes { flex-direction: column; }

  .acordeao-registro-body .botoes > * {
    margin-right: 0;
    width: 90%;
  }
}