.acordeao-registro {
  margin-bottom: 8px;
}

.acordeao-registro-header {
  background-color: var(--city-lights);
  color: var(--dracula-orchid);

  padding: 8px;
  padding-left:  16px;
  padding-right: 16px;

  justify-content: space-between;
  align-items: center;
  display: flex;

  letter-spacing: .5px;
  line-height: 1.5;

  border-top-left-radius:  4px;
  border-top-right-radius: 4px;

  cursor: pointer;
}

.acordeao-registro-header svg {
  margin-left: 8px;

  width:  16px;
  height: 16px;

  fill: var(--dracula-orchid);
}

.acordeao-registro-header svg.aberto {
  transform: rotate(180deg);
}

.acordeao-registro-body {
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px;

  background-color: var(--clouds);

  flex-direction: column;
  display: flex;

  padding: 32px;
}

.acordeao-registro-body .categoria {
  color: var(--dracula-orchid);
  font-size: 175%;
  
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  display: flex;
  
  margin-bottom: 16px;
}

.viatura-textual {
  color: var(--dracula-orchid);
  font-size: 90%;

  text-transform: uppercase;
  line-height: 1.5;

  align-items: flex-start;
  flex-direction: row;
  display: flex;

  padding-bottom: 8px;
  margin-bottom: 16px;

  border-bottom: 1px solid var(--city-lights);
}

.viatura-textual > * {
  display: flex;
  flex: 1;
}

.viatura-textual svg {
  width:  32px;
  height: 32px;
}

.acordeao-registro-body .botoes {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.acordeao-registro-body .botoes > * {
  display: flex;
  flex: 1;

  margin-right: 16px;
}

.acordeao-registro-body .botoes > *:last-child { margin-right: 0; }

@media only screen and (max-width: 500px) {
  .acordeao-registro-body {
    padding: 16px;
  }

  .viatura-textual { font-size: 80%; }

  .viatura-textual .nivelCombustivel { font-size: 70%; }

  .acordeao-registro-body .botoes { flex-direction: column; }

  .acordeao-registro-body .botoes > * {
    margin-right: 0;
    width: 90%;
  }
}