.modal-deletar-viatura span {
  font-size: 105%;

  line-height: 1.5;
}

.modal-deletar-viatura span.prefixo-viatura {
  font-family: 'OswaldRegular';
}

.modal-deletar-viatura .botoes {
  margin-top: 16px;

  flex-direction: row;
  align-items: center;
  display: flex;
}

.modal-deletar-viatura .diastema {
  width: 16px;
}

.modal-deletar-viatura .botao {
  border-radius: 2px;

  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;

  height: 32px;

  cursor: pointer;
}

.modal-deletar-viatura .botao svg {
  width:  32px;
  height: 32px;

  fill: white;
}

.modal-deletar-viatura .botao span {
  color: white;
  font-size: 90%;

  text-transform: uppercase;
}