.viaturas .checkpoint {
  margin-top: 16px;
  margin-bottom: 32px;

  flex-direction: column;
  display: flex;

  color: var(--dracula-orchid);
  font-size: 90%;

  line-height: 1.5;
}

.viaturas .checkpoint .signatario {
  font-family: 'OswaldRegular';

  text-transform: uppercase;
}

.viaturas .checkpoint .data {
  font-family: 'OswaldLight';
  color: var(--soothing-breeze);
}

.viaturas .lista-viaturas {
  flex-direction: column;
  display: flex;
}

.viaturas .footer {
  margin-top: 64px;
}

.btn-adicionar-nova-viatura {
  position: fixed;

  right:  32px;
  bottom: 32px;

  width:  64px;
  height: 64px;

  justify-content: center;
  align-items: center;
  display: flex;

  background-color: var(--chi-gong);
  border-radius: 64px;

  cursor: pointer;
}

.btn-adicionar-nova-viatura svg {
  width:  32px;
  height: 32px;

  fill: white;
}