.historico-quinzenas .lista {
  flex-direction: column;
  display: flex;

  min-height: 394px;
}

.historico-quinzenas .quinzena {
  margin-bottom: 64px;
}

.historico-quinzenas .quinzena-label {
  flex-direction: row;
  align-items: center;
  display: flex;

  margin-bottom: 16px;
}

.historico-quinzenas .quinzena-label .divider {
  background-color: var(--soothing-breeze);

  display: flex;
  height: 1px;
  flex: 1;
}

.historico-quinzenas .quinzena-label span {
  font-family: 'OswaldRegular';
  color: var(--american-river);
  font-size: 150%;

  padding-right: 16px;
}