.componente-vazio {
  margin-top:    32px;
  margin-bottom: 32px;

  flex-direction: column;
  align-items: center;
  display: flex;
}

.componente-vazio .icones {
  width:  192px;
  height: 192px;

  justify-content: center;
  align-items: center;
  display: flex;
}

.componente-vazio .icones > * { position: absolute; }

.componente-vazio .icones > *:first-child {
  z-index: 1;

  width:  192px;
  height: 192px;
}

.componente-vazio .icones svg {
  width:  128px;
  height: 128px;
}

.componente-vazio span {
  margin-top: 16px;

  font-family: 'OswaldBold';
  font-size: 200%;

  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}