.menu-voltar,
.menu-voltar-hitbox {
  height: 64px;
  width:  100%;

  margin-bottom: 16px;

  z-index: 3;
}

.menu-voltar {
  position: fixed;

  background-color: white;

  align-items: center;
  display: flex;
}

.menu-voltar .icone {
  width:  64px;
  height: 64px;

  justify-content: center;
  align-items: center;
  display: flex;

  cursor: pointer;
}

.menu-voltar .icone svg {
  width:  32px;
  height: 32px;

  color: var(--soothing-breeze);
}