.checklist .container { min-height: 472px; }

.checklist .aviso {
  min-height: 32px;
}

.checklist .aviso span {
  font-family: 'OswaldLight';
  color: var(--soothing-breeze);
  font-size: 100%;
}

.checklist .titulo {
  font-family: 'OswaldLight';
  color: var(--dracula-orchid);
  font-size: 140%;

  margin-bottom: 8px;
}

.checklist .titulo .prefixo { font-family: 'OswaldRegular'; }

.checklist .subtitulo {
  font-family: 'OswaldLight';
  color: var(--american-river);
  font-size: 100%;

  line-height: 1.5;
}

.checklist .lista {
  margin-top: 16px;
}

.checklist .confirmar-conclusao {
  margin-top: 16px;

  flex-direction: column;
  display: flex;
}

.checklist .confirmar-conclusao span {
  font-family: 'OswaldLight';
  color: var(--american-river);
  font-size: 100%;

  text-align: justify;
  line-height: 1.5;
}

.checklist .confirmar-conclusao strong {
  font-family: 'OswaldRegular';
}

.checklist .confirmar-conclusao .btn-concluir {
  margin-top: 24px;
  margin-bottom: 48px;

  background-color: var(--emerald);
  border-radius: 2px;

  justify-content: center;
  align-items: center;
  display: flex;

  min-height: 64px;
  
  cursor: pointer;
}

.checklist .confirmar-conclusao .btn-concluir svg {
  width:  64px;
  height: 64px;

  fill: white;
}

.checklist .confirmar-conclusao .btn-concluir span {
  font-family: 'OswaldBold';
  color: white;
  font-size: 150%;

  text-transform: uppercase;
}