.modal-editar-categoria .titulo {
  font-family: 'OswaldLight';
  color: var(--dracula-orchid);
  font-size: large;
}

.modal-editar-categoria .botoes {
  margin-top: 16px;
}

.modal-editar-categoria .btn {
  background-color: var(--city-lights);
  color: var(--dracula-orchid);
  border-radius: 2px;

  justify-content: center;
  align-items: center;
  display: flex;

  height: 48px;

  cursor: pointer;

  margin-bottom: 4px;
}

.modal-editar-categoria .btn.selecionada {
  background-color: var(--emerald);
  color: white;
}

.modal-editar-categoria .btn:last-child {
  margin-bottom: 0;
}