.viatura {
  flex-direction: column;
  display: flex;
}

.viatura input,
.viatura textarea {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;

  width:  100%;
  height: 32px;
}

.viatura input::placeholder,
.viatura textarea::placeholder {
  color: var(--soothing-breeze);
}

.viatura input,
.viatura textarea,
.viatura span {
  font-family: 'OswaldRegular';
  color: var(--dracula-orchid);
  font-size: 125%;

  line-height: 1.5;
}

.viatura .cabecalho {
  justify-content: space-between;

  margin-bottom: 16px;
}

.viatura .cabecalho,
.viatura .cabecalho > * {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.viatura .km {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.viatura .prefixo,
.viatura .km,
.viatura .nivel-combustivel,
.viatura .comentario,
.viatura .categoria-label {
  margin-left: 8px;

  display: flex;
  flex: 1;
}

.viatura .icone {
  width:  48px;
  height: 48px;

  justify-content: center;
  align-self: flex-start;
  align-items: center;
  display: flex;
}

.viatura .clicavel {
  cursor: pointer;
}

.viatura .icone svg {
  width:  32px;
  height: 32px;

  fill: var(--american-river);
}

.viatura .corpo {
  background-color: var(--clouds);
  border-radius: 2px;

  padding: 16px;
}

.viatura .corpo span {
  color: var(--american-river);
}

.viatura .corpo > * {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.viatura .corpo > *:first-child > * {
  align-items: center;
  display: flex;
  flex: 1;
}

.viatura a.btn-revisar {
  text-decoration: none;
}

.viatura .btn-revisar {
  margin-top: 8px;

  background-color: var(--emerald);

  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  min-height: 64px;

  cursor: pointer;
}

.viatura .btn-revisar span {
  color: white;

  line-height: 1.25;
}

.viatura .btn-revisar span.btn-revisar-label {
  font-family: 'OswaldBold';
  font-size: 145%;

  text-transform: uppercase;
}

.viatura .btn-revisar span.contador {
  font-family: 'OswaldLight';
  font-size: 80%;
}

.viatura .rodape {
  background-color: var(--city-lights);
  
  margin-top: 8px;
  margin-bottom: 16px;

  height: 1px;
}

@media only screen and (max-width: 525px) {
  .viatura .km,
  .viatura .nivel-combustivel {
    font-size: 80%;
  }
}