.cadastro .aviso {
  margin-top:    32px;
  margin-bottom: 16px;

  color: var(--dracula-orchid);
}

.cadastro .aviso p {
  color: var(--american-river);
  
  line-height: 1.5;
  margin-top: 8px;
}

.cadastro form > * {
  box-sizing: border-box;
  width: 100%;

  margin-bottom: 16px;
}

.cadastro form > *:last-child {
  margin-bottom: 28px;
}