.modal-adicionar-viatura { padding: 8px; }

.modal-adicionar-viatura form {
  flex-direction: column;
  display: flex;
}

.modal-adicionar-viatura form > * { margin-bottom: 16px; }

.modal-adicionar-viatura form > *:last-child { margin-bottom: 0; }

.modal-adicionar-viatura form > span:first-child {
  color: var(--dracula-orchid);
  font-size: 120%;

  margin-bottom: 24px;
}

.modal-adicionar-viatura input,
.modal-adicionar-viatura select,
.modal-adicionar-viatura textarea,
.modal-adicionar-viatura button {
  background-color: transparent;
  border: none;
  width: 100%;

  border: 1px solid var(--soothing-breeze);
  border-radius: 2px;

  box-sizing: border-box;
  padding-left:  12px;
  padding-right: 12px;

  font-family: 'OswaldLight';
  color: var(--dracula-orchid);

  height: 32px;
}

.modal-adicionar-viatura input::placeholder {
  color: var(--soothing-breeze);
}

.modal-adicionar-viatura textarea {
  padding-top: 8px;

  height: 64px;
}

.modal-adicionar-viatura button {
  border: none;
  
  background-color: var(--chi-gong);
  color: white;
}

.modal-adicionar-viatura button svg {
  width:  32px;
  height: 32px;

  fill: white;
}