@import './stylesheets/fonts.css';

:root {
  --emerald: #2ecc71;
  --nephritis: #27ae60;

  --chi-gong: #d63031;

  --clouds: #ecf0f1;

  --city-lights: #dfe6e9;
  --soothing-breeze: #b2bec3;
  --american-river: #636e72;
  --dracula-orchid: #2d3436;
}

html, body, #root, .App {
  flex-direction: column;
  min-height: 100vh;
  display: flex;

  font-family: 'OswaldRegular';
}

/** https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tabela {
  font-family: Arial, Helvetica, sans-serif;

  flex-direction: column;
  align-items: center;
  display: flex;

}

.tabela table, .tabela th, .tabela td {
  border: 1px solid black;
}

.tabela th, .tabela td {
  padding: 8px;
}