.teste {
  font-family: Arial, Helvetica, sans-serif;

  flex-direction: column;
  align-items: center;
  display: flex;

  padding-bottom: 64px;
}

.teste button {
  margin-top: 16px;

  max-width: 100%;
  min-width: 384px;

  box-sizing: border-box;
  padding: 16px;

  background-color: var(--emerald);
  border-radius: 2px;
  
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  color: white;

  border: none;
  cursor: pointer;
}

.teste button:active {
  opacity: .5;
}

.teste h2 {
  margin-top: 32px;
  margin-bottom: 16px;

  font-size: xx-large;

  text-align: center;
  align-self: center;
  display: flex;
}

.teste h2,
.teste th {
  font-weight: bold;
}

.teste table, .teste th, .teste td {
  border: 1px solid black;
}

.teste th, .teste td {
  padding: 8px;
}